@* File: Views/Loads/_LoadRow.cshtml *@
@model LoadTrackerWeb.Models.LoadRowViewModel
@{
    bool canEdit = (ViewData["CanEdit"] as bool?) == true;
}

<tr data-rowid="@Model.DetailLineId">
    <td data-col="probill">@Model.Probill</td>
    <td data-col="bol">@Model.BolNo</td>
    <td data-col="order">@Model.OrderNo</td>
    <td data-col="po">@Model.PoNo</td>

    <td data-col="receiver">@Model.Receiver</td>
    <td data-col="rcity">@Model.ReceiverCity</td>
    <td data-col="rprov">@Model.ReceiverProv</td>

    <td data-col="pickup">@Model.ActualPickup?.ToString("yyyy-MM-dd")</td>
    <td data-col="rad">@Model.RadText</td>

    <td data-col="status" class="yellow">@Model.CurrentStatus</td>

    <td data-col="ddate">@Model.DeliveryDateText</td>
    <td data-col="dtime">@Model.DeliveryTimeText</td>

    <td data-col="exception">
        @if (canEdit)
        {
            <input type="checkbox" class="ex" @(Model.Exception ? "checked" : "") />
        }
        else
        {
            @(Model.Exception ? "YES" : "NO")
        }
    </td>

    <td data-col="ontime">@Model.OnTimeText</td>

    <td data-col="delay" class="wrap">
        @if (canEdit)
        {
            <textarea class="delay" maxlength="255">@Model.UserNonCarrierDelay</textarea>
        }
        else
        {
            @Model.NonCarrierDelay
        }
    </td>

    <td data-col="comments" class="wrap">
        @if (canEdit)
        {
            <textarea class="comments" maxlength="300">@Model.Comments</textarea>
        }
        else
        {
            @Model.Comments
        }
    </td>

    @if (canEdit)
    {
        <td class="save-col">
            <button type="button" class="save">Save</button>
        </td>
    }
</tr>
